@import "tailwindcss";


@layer base {
  body {
    @apply antialiased text-white bg-[#020403] selection:bg-emerald-500 selection:text-white font-sans;
  }
}


@layer utilities {
  .glass-panel {
    @apply bg-emerald-950/40 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
  
  .glass-interactive {
    @apply bg-white/5 border border-white/10 active:bg-white/10 transition-all duration-200;
  }

  .active-emerald {
    @apply bg-emerald-500 text-white border-transparent shadow-[0_0_15px_rgba(16,185,129,0.4)];
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-emerald-100 to-emerald-200;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #064e3b; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981; 
}
